body{
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  list-style-type: none;
}
.parent{
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enfant{

  margin-left: 50px;
  text-align: center;
}
ul{
  margin-right: 100px;
  display: flex;
  justify-content: space-around;
  
  
  
}
ul li{
  padding: 20px 20px;
  list-style-type: none; 
}
a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  
}
body{
  background: url(Group\ 25.png);
  background-size: cover;
  font-family: arial;
  font-size: 13px;
  margin-bottom: 300px;
  margin: 0px;
}
.img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 550px;
  margin-top: 150px;
}
.paragraphe{
  width: 350px;
  height: 50px;
  background-color: gray;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 460px;
}
.prh{
  color: white;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  left: -30px;
  text-align: center;
}
.sec3{
  background-size: cover;
   width: 100%;
    height: 400px;
    background-color: white;
    margin-bottom: 10px;
    /* margin-top: 7%; */
    
}
.cer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}
.vito{
  padding: 30px;
  border-radius: 120px;
  border: 1px solid rgb(106, 223, 112);
  margin-top: 120px;
  display: flex;
  justify-content: space-evenly;
}
.design{
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
}
.famili{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.sec4{
  width: 100%;
    height: 700px;
    margin-top: -20px;
    background-color: rgb(250, 242, 242);
}
h1{
  text-align: center;
  position: relative;
  top: 60px; 
}
.kona{
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-top: 90px;
  gap: 40px;
}
 /* .fils{

  margin-left: 50px;
  text-align: center;
}
ul{
  margin-right: 100px; 
  display: flex;
  justify-content: center;
}
ul li{
  padding: 80px 80px;
  list-style-type: none; 
}
a{
  text-decoration: none;
  color: black;
  font-size: 15px;
  
}  */
.grand{
  margin-top: 40px;
}
.mah{
  width: 270px;
  height: 270px;
  display: flex;
} 
.moh{
  width: 270px;
  height: 270px;
  display: flex;
}
.sec5{
  width: 100%;
  height: 700px;
  background-color: white;
}
h2{
  text-align: center;
  position: relative;
  top: 250px;
}
.web{
  
  align-items: center;
}